.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.image {
    margin-top: 24px;
    width: 777px;
    max-width: 100%;
}