.panel {
    margin-bottom: 24px;
    max-width: 100%;
    min-width: 800px;
    background: var(--color-text);
}

.box {
    min-height: 300px;
}

.bottom_button {
    display: block;
    padding: 4px 0;
}

.file_button_container {
    display: flex;
}

.file_button {
    padding: 12px;
    text-align: start;
}

@media screen and (max-width: 880px) {

    .panel {
        min-width: 600px;
    }
}

@media screen and (max-width: 680px) {

    .panel {
        min-width: 400px;
    }

}

@media screen and (max-width: 500px) {

    .panel {
        padding: 8px;
        min-width: 100%;
    }
}

@media screen and (max-width: 300px) {

    .panel {
        padding: 4px;
    }
}