.panel {
    margin-bottom: 24px;
    max-width: 100%;
    min-width: 800px;
    background: var(--color-text);
}

.box {
    min-height: 300px;
}

.bottom_button {
    display: block;
    padding: 4px 0;
}

.file_button_container {
    display: flex;
}

.file_button {
    padding: 12px;
    text-align: start;
}