.convertation {
    margin: auto;
    min-width: 100%;
}

.drag {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: 600px;
    height: 200px;
}

.absolute-text {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
    opacity: 0;
    cursor: pointer;
}

.absolute-text:hover {
    opacity: 0.8;
}