.grid-list-s {
    flex-direction: column;
}

.grid-list-b {
    flex-wrap: wrap;
    width: 100%;
}

.grid-list__item {
    flex: 0 0 33.3%;
    height: 35%;
}

.grid-list__button-s {
    display: flex;
    justify-content: flex-start;
    white-space: normal;
    width: 256px;
    border-radius: 0px;
    background: inherit;
}

.grid-list__button-b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    width: 100%;
    height: 100%;
    color: #383e45;
    white-space: normal;
    border-radius: 0px;
    background: inherit;
    padding: 24px;
}

.grid-list__link {
    width: 100%;
    height: 100%;
}

.grid-list__title-s {
    margin: 0 0 12px 0;
    text-align: flex-start;
    color: #969696;
    font-weight: 600;
    font-size: 14px;
}

.grid-list__title-b {
    margin: 12px 0 8px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0;
    color: #383e45;
}

.grid-list__text {
    letter-spacing: 0.5px;
    font-size: 12px;
    line-height: 18px;
    color: #626870;
}