.header {
    padding: 0px 4px 0px 4px;

    position: sticky;
    top: 0;
    right: 0;

    min-width: 100%;

    color: var(--color-text-dark);

    background: #fff;

    box-shadow: 0 3px 6px 0 rgba(50, 50, 50, 0.3);
    z-index: 9;
}

.flex_box {
    padding: 24px;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-top: var(--color-primary) 4px solid;
}